@font-face {
    font-family: AirFactoryRounded;
    src: url(fonts/Air\ Factory\ Rounded.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  background-image: url('images/office.jpeg');
}

/*Banner Design*/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.banner_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 150px;
    width: 600px;
    padding:  10px 0 0 10px
}

.call_buttons {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.call{
    height: max-content;
    width: 200px;
    border-radius: 10px;
    background-color: #25722A;
    color: white;
    padding: 10px;
    margin-right: 50px;
    font-size: 20px;
    border-top: 10px;
    gap: 8px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

/*Header Design*/

.top {
    position: sticky;
    top: 0;
    background-color: white;
    height: 215px;
    width: auto;
}

ul {
    list-style: none;
    padding-top: 10px;
}
  
a {
    font-family: AirFactoryRounded;
    text-decoration: none;
    font-size: 30px;
}

.menu {
    display: flex;
}

li a {
    display:flex;
    text-align:center;
    color: #25722A
}

li a:hover {
    text-decoration: underline solid #25722A 3px;
  }

  @media (min-width: 800px) {
  nav ul li:hover > ul {
    padding-left:0;
  }
  
  nav ul li:hover > ul a{
    color:green;
  }

  
  @media (min-width: 800px) {
    .menu {
      flex-direction:row;
      justify-content:space-around;
    }
  } 

.drop_down > a:after{
  padding:1px;
}

nav ul ul {
  display: none;
}

@media (min-width: 800px) {
  nav ul ul {
    display: none;
    position:absolute;
  }
}

nav ul li:hover > ul {
  display:block;

  padding-left:2rem;
}

@media (min-width: 800px) {
  nav ul li:hover > ul {
    padding: 10px;;
    background: white;
  }
  
  nav ul li:hover > ul a{
    color:#25722A;
  }

/*Main Page*/

}
.welcome_container {
  height: auto;
}

.content {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  gap: 30px;
  flex: 1;
}
.card {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #1b551f;
  color: white;
  padding: 10px;
  margin: 5%;
  font-size: 23px;
}
.new_page {
  text-decoration: none;
  color: white;
}
.new_page:hover {
  text-decoration: underline solid 2px;

}

a .new_page{
  font-size: 23px;
}

.line_1{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.blog{
  padding-top: 30px;
}
iframe {
  width: 500px;
  height: 800px;
}

.pcmh {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pcmh {
  width: 250px; 
  height: 250px;
  object-fit: cover;
  padding-top: none;
}

.navicall {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navicall {
  width: 400px;
  height: auto;
}

/*Footer*/

footer {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: auto;
  padding: 0;
  background-color: #595F07;
  color: white;
  font-size: 20px;
}
/*Main Footer*/

footer {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;

}

.footer_container {
  display: flex;
  flex: 1;

}

.ft_main_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

h2 {
  padding: 5%;
}

